<aside class="apropos section-layout">

  <div class="banner">
  <img src="/assets/imgs/sandrine-profil.png">
  </div>
  <div class="presentation">
    <p>
      Bienvenue sur mon site ! Je m'appelle Sandrine Coupart et je suis diététicienne-nutritionniste diplômée d'État. 
      J'ai travaillé en tant que professionnelle de la santé pendant plus de 10 ans et j'ai eu l'occasion de 
      travailler avec des patients de tous âges et de tous horizons. Ma passion pour la nutrition et la santé 
      m'a amenée à ouvrir ma propre pratique de diététique en ligne, pour aider les gens à atteindre leurs 
      objectifs de santé et de bien-être.
    </p>
  </div>

</aside>