<footer>
  <div class="contact container">
    <div class="row row-cols-1 row-cols-lg-3">
      <div class="col">
        <h3>Adresse</h3>
        <p>62 Rue Guillaume le conquérant, 14000 Caen</p>
      </div>
      <div class="col">
        <h3>Téléphone</h3>
        <p>02 52 53 54 55</p>
      </div>
      <div class="col">
        <h3>E-mail</h3>
        <p>sandrine-diet@coupart.fr</p>
      </div>
    </div>
  </div>
  <div class="navigation">
    <img src="/assets/imgs/logo_coupart_blanc.png">
    <div>
      <h3>Navigation</h3>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/recipe">Recettes</a></li>
        <li><a href="/appointment">Contact</a></li>
        <li><a href="/login">Connexion</a></li>
      </ul>
    </div>
  </div>
  <div class="legals">
    <p>Copyright 2023-2024 Tous droits réservés <a href="/mentions-legales">Mentions légales</a> <a href="/politique">Politique de confidentialité</a></p>
  </div>

</footer>