<aside class="ingredients section-layout">
  <div class="banner">
    <h3>Ingrédients</h3>
  </div>
  <div class="list">
    <ul>
    {% for ingredient in recette.ingredients %}
      <li>{{ ingredient.label }}</li>
    {% endfor %}
    </ul>
  </div>
</aside>