<section class="page-legals section-layout">
  <article>
    <p>
    Le site Sandrine-diététique.fr est édité par Connest, société [forme juridique] au capital de 
    [montant du capital social], immatriculée au registre du commerce et des sociétés de [ville] sous le numéro [numéro RCS].
    <br>
    Le directeur de la publication est [nom du directeur de publication], en qualité de [fonction].
    <br>
    Le site est hébergé par Ionos, société [forme juridique] au capital de [montant du capital social], 
    immatriculée au registre du commerce et des sociétés de [ville] sous le numéro [numéro RCS], dont le siège social 
    est situé [adresse du siège social].
    <br>
    Le site a été conçu et développé par [nom de l'agence ou du prestataire].
    <br>
    Pour toute question ou demande d'information concernant le site, vous pouvez nous contacter par e-mail à l'adresse 
    suivante : [adresse e-mail de contact].
    <br>
    Le contenu du site (textes, images, vidéos) est la propriété de [nom de la société éditrice ou du propriétaire des droits] 
    et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle. 
    Toute reproduction, même partielle, du contenu du site est strictement interdite sans autorisation préalable.
    <br>
    Les informations personnelles collectées via le site sont destinées à [nom de la société éditrice] et ne seront en 
    aucun cas transmises à des tiers. Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée, 
    vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ce 
    droit, vous pouvez nous contacter par e-mail à l'adresse suivante : [adresse e-mail de contact].
    </p>
  </article>
</section>