<section class="page-recettes page-recettes-clients section-layout">
  <div class="list-recettes">
    {% for recette in recettes %}
      {% if (app.user) or not recette.isPremium %}
        {% include "_partials/_recipe_card.html.twig" %}
      {% endif %}
    {% endfor %}
  </div>
</section>