<main class="page-recettes">

  <section class="infos">

    {% include "_partials/_ingredients.html.twig" %}
    {% include "_partials/_steps.html.twig" %}

  </section>

  {% include "_partials/_avis.html.twig" %}
  
</main>