<section class="services section-layout">
  <div class="banner">
    <h3>Mes services</h3>
  </div>
  <div class="paragraphes">
    <p>
      Sandrine Coupart, diététicienne-nutritionniste installée à Caen, propose une gamme de services pour aider ses 
      clients à atteindre leurs objectifs nutritionnels et de santé. Elle propose des consultations individuelles 
      pour des conseils personnalisés en matière de nutrition, d'alimentation équilibrée et de régime alimentaire 
      adapté. Elle organise également des ateliers de prévention pour les groupes qui souhaitent en savoir plus 
      sur l'importance de la nutrition et de l'alimentation saine. Avec une approche holistique de la nutrition, 
      Sandrine Coupart vise à aider ses clients à atteindre un bien-être total, en combinant l'aspect nutritionnel 
      avec la santé émotionnelle et physique.
    </p>
    <p>
      Chez Sandrine Coupart Diététique, nous croyons que chaque personne est unique et que chaque régime alimentaire 
      doit être personnalisé en fonction des besoins individuels. Notre approche est centrée sur le client, ce qui 
      signifie que nous travaillons avec vous pour élaborer un plan nutritionnel qui convient à votre style de vie, 
      vos préférences alimentaires et vos objectifs de santé.
    </p>

    <a class="btn btn-peach" href="/appointment" role="button">Prendre rendez-vous</a>
  </div>
</section>