<div class="steps section-layout">

  <div class="steps-element">
    <h3>Description</h3>
    <p>{{ recette.description }}</p>
  </div>

  <div class="steps-element"> 
    <h3>Etapes</h3>
    <p>{{ recette.steps|raw }}</p>
  </div>

  <div class="charac">
    <ul class="green">
      {% for allergen in allergens %}
      <li>{{ allergen }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="charac">
    <ul class="peach">
      {% for diet in recette.diets %}
      <li>{{ diet.label }}</li>
      {% endfor %}
    </ul>
  </div>

  <p class="signature">Bonne Dégustation</p>

</div>