<div class="steps section-layout">

  <div class="steps-element">
    <h3>Description</h3>
    <p>{{ recette.description }}</p>
  </div>

  <div class="steps-element"> 
    <h3>Etapes</h3>
    <p>{{ recette.steps|raw }}</p>
  </div>

  <p class="signature">Bonne Dégustation</p>

</div>