{% extends 'base.html.twig' %}

{% block title %}Sandrine Coupart - Diététicienne / Nutritionniste{% endblock %}

{% block javascripts %}
<script defer async src="/assets/js/newRecipe.js"></script>
<script defer async src="/assets/js/newRecipeFormHandler.js"></script>
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
<script defer src="/assets/js/ingredient-select.js"></script>
{% endblock %}

{% block body %}
    {% include "_partials/_nav.html.twig" %}
    {% include "_partials/_header_second.html.twig" with {'title': 'Nouvelle Recette' } %}
<main class="mx-3">
  <section class="container-xl contact-form">
    <div class="row">
      <div class="col">

       {% include "/admin/recipe/_form.html.twig" %} 

      </div>
    </div>
  </section>
</main>   
    {% include "_partials/_footer.html.twig" %}
{% endblock %}