{% extends 'base.html.twig' %}

{% block title %}Sandrine Coupart - Diététicienne / Nutritionniste{% endblock %}

{% block body %}
    {% include "_partials/_nav.html.twig" %}
    {% include "_partials/_header_second.html.twig" with {'title': 'Nouvel Ingrédient' }%}
<main class="mx-3">
    <section class="container contact-form">
    <div class="row">
      <div class="col">

        {% include "/admin/ingredient/_form.html.twig" %}
        
      </div>
    </div>
  </section>
</main>   
    {% include "_partials/_footer.html.twig" %}
{% endblock %}