.page-recettes-clients {

  position: relative;

  flex-grow: 1;
  height: clamp(800px, 90vh, 1200px);

  margin: 20px;

  padding: 20px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;

  .list-recettes {

    padding: 20px;

    flex-wrap: wrap;
    @media screen and (max-width: 992px) {
      justify-content: center;
    }
    @media screen and (min-width: 992px) {
      justify-content: flex-start;
    }
    

    .recette-card {

      padding: 10px 20px 50px 20px;

      
    }

  }
}